html,
body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: auto 0;
}


h1 {
    font-size: 1.5em;
    color: #000;
    font-weight: normal;
}


.section {
    padding: 1em;
    width: 50%;
}

.badge {
    height: 2em;
    vertical-align: middle;
}

.login img {
    display: none; 
    width: 1.4em; 
    height:1.4em;
    border-radius: 0.6em;
}
.login.loggedin img{
    display: inline;
}

h2 input.silentInput {
    font-size: inherit;
    font-weight: inherit;
}
input.silentInput {
    border: none;
}

.nav {
    padding: 0.5em 2em;
    height: 4em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.nav h1 {
    letter-spacing: 0.1rem;
    margin:0;
    flex: 0 0 auto;
}

.nav .topmenu {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row-reverse;
    align-items: center;
}

.nav .topmenu > * {
    padding: 0.3em;
    margin: 0.2em;
}

a, a:visited {
    text-decoration: none;
    color: currentColor;
}

footer {
    height: 3.6em;
}

.page{
    display: flex;
    background: white;
    flex-direction: row;
}

.toc{
    padding-right: 1em;
    flex: 1 1 12em;
    height: calc( 100vh - 8em);
    overflow: hidden; 
}
.toc.closed{
    max-width: 1em;
}
.toc.closed ul, .toc.closed ol, .toc.closed ul.active, .toc.closed ul.containsActive, .toc.closed .toggleMe{
    display: none;
}
.toc .hamburger {
    text-align: right;
    cursor: pointer;
    float: right;
    width: 1.5rem;
    margin-right: -0.3em;
}

.toc a, .toc a:visited, .toc a:active {
    text-decoration: none;
    color: currentColor;
}


.toc ol, .toc ul{
    padding-inline-start: 1.4em;
}
.toc ul{
    list-style: none;
}
.toc ol ol {
    list-style-type: lower-alpha;
}
.toc li{
    margin-top: 0.5em;
}

.toc ol, .toc ul {
    display: none;
}
.toc ol.active, .toc ul.active, .toc ol.containsActive, .toc ul.containsActive {
    display: block;
}

.anon .toc li {
  display: none;
}
.anon .toc li.ua_anon {
  display: list-item;
}

.rhs img{
    max-width: 100%;
}

.pageBack{
    display: flex;
    flex: 12 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: calc( 100vh - 8em);
    height: calc( 100vh - 8em);
}

.pageContent{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0 1em;
    position: relative;
    overflow: hidden;
    background: rgba(255,255,255,0.6);
}
.anon .pageContent {
  display: none;
}


.pageContent .two-column {
    display: flex;
    flex-direction: row;
}

.pageContent .lhs {
    flex: 1 0 58%;
    box-shadow: none;
    background: transparent;
}

.pageContent .rhs {
    flex: 0 1 40%;
}

.jumbo {
    font-size: 250%;
}

.moduleCompletion > li{
    list-style-type: none;
    display: inline-block;
    width: 10em;
    min-height: 6em;
    padding: 0.5em;
    text-align: center;
}
.moduleCompletion > li h3{
    margin-top:0;
    margin-bottom: 0.5em;
}
ul.lessonCompletion {
    list-style: none;
    padding: 0;
}
ul.lessonCompletion > li {
    overflow: hidden;
}

@media (max-width: 768px) {
    .pageContent{
        flex-direction: column;
    }

    .pageContent .rhs {
        width: 100%;
        position: initial;
    }

    .pageContent > p {
        max-width: 100%;
    }

    .toc {
        max-width: 1em;
    }
    .toc.closed{
        max-width: inherit;
    }
    .toc ul, .toc ol, .toc ul.active, .toc ul.containsActive{
        display: none;
    }
    .toc.closed ul, .toc.closed ol, .toc.closed ul.active, .toc.closed ul.containsActive{
        display: block;
    }
        
}
